<% content_for :title do %>Autorickshaw Productions<% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<section class="row">
	
	<div class="small-12 medium-6 columns">
		
	</div>
<div class="small-12 medium-6 columns">

		<div>
		<h2>Stay in touch.</h2>
		<div class="form-centered">
      		 <%= simple_form_for @visitor do |f| %>
       		 	<%= f.error_notification %>
       		 	<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        		<br/>
        	 	<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
     		 <% end %>
    	</div>
		</div>
</section> 


