<% content_for :title do %>About<% end %>
<div style="font-size:18px";><h3>About Autorickshaw Productions</h3><div>
<div><p>At Autorickshaw Productions, we believe that it's important for films to be designed. We think that an aesthetic is not something which only feature or short films, documentaries and music videos have a claim over, but that even corporate videos, trailers, event covers can be beautifully designed. We work to deliver films which are high on production value, and can be appreciated by a discerning audience, as well as a teenager just browsing through Youtube. We love what we do, and we work very very hard on your vision, and your ideas to deliver films to you which you'll fall in love with and keep wanting to play back.</p></div>

